//https://m2.material.io/design/color/the-color-system.html#tools-for-picking-colors

$seed-neutral-light: (
  "50": #f5f5f5,
  "100": #e9e9e9,
  "200": #dadada,
  "300": #c5c5c5,
  "400": #9f9f9f,
  "500": #7d7d7d,
  "600": #575757,
  "700": #454545,
  "800": #282828,
  "900": #030303,
);
$seed-neutral-hsla: (
  "50": (0, 0%, 96%),
  "100": (0, 0%, 91%),
  "200": (0, 0%, 85%),
  "300": (0, 0%, 80%),
  "400": (0, 0%, 62%),
  "500": (0, 0%, 49%),
  "600": (0, 0%, 34%),
  "700": (0, 0%, 28%),
  "800": (0, 0%, 11%),
  "900": (0, 0%, 2%),
);

$seed-neutral-dark: (
"900": #f5f5f5,
"800": #e9e9e9,
"700": #dadada,
"600": #c5c5c5,
"500": #9f9f9f,
"400": #7d7d7d,
"300": #575757,
"200": #454545,
"100": #282828,
"50": #030303,
);

$seed-primary-light: (
"50": #fcf3db,
"100": #f8dfa5,
"200": #f1cb6a,//P
"300": #eab829,
"400": #e6a900,
"500": #e19c00,
"600": #e18e00,
"700": #e27c00,
"800": #e16a00,
"900": #e04600,
);

$seed-primary-dark: (
  "50": hsl(48, 76%, 93%),
  "100": hsl(48, 75%, 83%),
  "200": hsl(48, 76%, 72%),
  "300": hsl(48, 76%, 61%),
  "400": hsl(47, 77%, 54%),
  "500": hsl(46, 78%, 49%),
  "600": hsl(43, 83%, 48%),
  "700": hsl(39, 87%, 47%),
  "800": hsl(35, 91%, 46%),
  "900": hsl(28, 96%, 44%),
);

$seed-secondary-light: (
  "500": hsl(0, 0%, 0%)
);

$seed-secondary-dark: (
  "500": hsl(0, 0%, 95%)
);

// Tipografía base
$seed-font: (
  "ff-base": "'Poppins', sans-serif",
  "ff-accent": "'Poppins', sans-serif",
  "fw-default": 400,
  "fw-semi-bold": 600,
  "fw-bold": 700,
  "fs-italic":italic,
);

// Espaciado base
//https://utopia.fyi/space/calculator?c=320,16,1.25,1520,18,1.333,5,2,&s=0.75,1.5|2|3|4|6|6,s-l|l-3xl|xl-4xl|l-2xl&g=s,l,xl,12
$seed-spacing: (
"space-auto": 0 auto,
"space-0": 0,
"space-3xs": clamp(0.25rem, 0.2333rem + 0.0833vw, 0.3125rem),
"space-2xs": clamp(0.5rem, 0.4833rem + 0.0833vw, 0.5625rem),
"space-xs": clamp(0.75rem, 0.7167rem + 0.1667vw, 0.875rem),
"space-s": clamp(1rem, 0.9667rem + 0.1667vw, 1.125rem),
"space-m": clamp(1.5rem, 1.45rem + 0.25vw, 1.6875rem),
"space-l": clamp(2rem, 1.9333rem + 0.3333vw, 2.25rem),
"space-xl": clamp(3rem, 2.9rem + 0.5vw, 3.375rem),
"space-2xl": clamp(4rem, 3.8667rem + 0.6667vw, 4.5rem),
"space-3xl": clamp(6rem, 5.8rem + 1vw, 6.75rem),
"space-4xl-5xl": clamp(6rem, 4.9565rem + 5.2174vw, 9rem),
// Pairs
"space-s-l": clamp(1rem, 0.6667rem + 1.6667vw, 2.25rem),
"space-l-2xl": clamp(2rem, 1.3333rem + 3.3333vw, 4.5rem),
);

// Tamaños de fuente
$seed-sizes: (
 "size--2": clamp(0.6331rem, 0.7108rem + -0.0818vw, 0.6944rem),
  "size--1": clamp(0.8333rem, 0.8305rem + 0.0142vw, 0.844rem),
  "size-0": clamp(1rem, 0.9667rem + 0.1667vw, 1.125rem),
  "size-1": clamp(1.2rem, 1.1201rem + 0.3995vw, 1.4996rem),
  "size-2": clamp(1.44rem, 1.2909rem + 0.7453vw, 1.999rem),
  "size-3": clamp(1.728rem, 1.4782rem + 1.2489vw, 2.6647rem),
  "size-4": clamp(2.0736rem, 1.6794rem + 1.9712vw, 3.552rem),
  "size-5": clamp(2.4883rem, 1.8893rem + 2.9953vw, 4.7348rem),
);

// Bordes redondeados
$seed-radius: (
  "sm": 4px,
  "md": 6px,
  "lg": 12px,
  "xl": 16px,
  "full":9999px,
);
