---
import Button from '../components/Button.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<h1 class="text-size-5 text-neutral-300 text-bold mb-space-s">Template Astro v5 With Sass</h1>
	<p class="fw-semi-bold mb-space-m">Plantilla para desarrolo web con design tokens</p>
	<Button type="primary" text="Click me" class={"px-space-s py-space-2xs rounded-sm"}></Button>
</Layout>
