@use "../abstracts" as *;
.container {     
    --max-width: 95rem;//1520px
    --padding: var(--space-m);
    max-width: var(--max-width);
    margin-inline: auto;
    padding-inline: var(--padding);
    @include breakpoint(md){
      --padding: 3.75rem;
    } 
  }