@use "sass:string" as str;
@use "../abstracts/map-tokens" as MapTokens;

@each $ff-key, $ff-value in MapTokens.$map-fonts {
  .#{$ff-key} {
    font-family: #{$ff-value};
  }
}

@each $fw-key, $fw-value in MapTokens.$map-font-weights {
  .fw-varian-#{$fw-key} {
    font-variation-settings: 'wght' #{$fw-value};
  }
}
@each $fw-key, $fw-value in MapTokens.$map-font-weights {
  .fw-#{$fw-key} {
    font-weight: #{$fw-value};
  }
}
@each $fw-key, $fw-value in MapTokens.$map-font-style {
  .fs-#{$fw-key} {
    font-style: #{$fw-value};
  }
}
