---
interface Props {
  text?: string;
  type?: string;
  class?:string;
}
const { text,type,class:className } = Astro.props;
---
<button class={`btn ${className}`} data-type={type}>
  <slot name="icon-left"/>
  {text}
  <slot name="icon-right"/>
</button>