---
import { Icon } from 'astro-icon/components';
import { languages } from 'src/i18n/ui';
import { getLangFromUrl, useTranslatedPath, getRouteFromUrl } from 'src/i18n/utils';

const lang = getLangFromUrl(Astro.url);

// Configurar la función para traducir rutas según el idioma
const translatePath = useTranslatedPath(lang);

// Obtener la ruta actual para que los enlaces apunten al lugar correcto
const currentRoute = getRouteFromUrl(Astro.url);

// Preparar la lista de idiomas disponibles con sus enlaces
const languageOptions = Object.entries(languages).map(([langKey, label]) => ({
  langKey,
  label,
  url: translatePath(`/${currentRoute ?? ''}`, langKey),
}));
---

<div class="language-picker">
  <button 
  id="language-button"
  class="btn"
    type="button"
    data-type="default" 
    class="dropdown-toggle" 
    aria-expanded="false" 
    aria-label="Change Language"
    slot="icon-left"
  >
  <Icon name="languages" />
    {languages[lang] ?? "Language"}
  </button>
  <ul class="dropdown-menu" id="language-menu">
    {languageOptions.map(({ langKey, label, url }) => (
      <li>
        <a 
          href={url}
          class={` dropdown-item ${lang === langKey ? 'active' : ''}`}
          aria-current={lang === langKey ? "page" : undefined}
        >
          {label}
        </a>
      </li>
    ))}
  </ul>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
      const button = document.getElementById('language-button');
      const menu = document.getElementById('language-menu');
  
      if (button && menu) {
        // Manejar el evento de clic en el botón para alternar la visibilidad del menú
        button.addEventListener('click', function () {
          const isExpanded = button.getAttribute('aria-expanded') === 'true';
          
          // Alternar el valor de aria-expanded y la visibilidad del menú
          button.setAttribute('aria-expanded', !isExpanded);
          menu.classList.toggle('display-block', !isExpanded);
          menu.classList.toggle('display-none', isExpanded);
        });
      }
    });
  </script>

<style>

</style>
