@use "../abstracts" as *;

.btn {
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
  font-family: var(--ff-base);
  font-size: var(--size-0);
  font-weight:var(--fw-default);
  transition: 275ms ease;
  border: 0;

  &[data-type="primary"] {
    background-color: var(--primary-500);
    color: var(--neutral-300);

    &:is(:hover, :focus) {
      background-color: var(--primary-600);
      color: var(--neutral-000);
    }
    &:active{
    transform: scale(0.98);
    }
  }

  &[data-type="secondary"] {
    background-color:var(--neutral-000);
    color:var(--neutral-1000);

    &:is(:hover, :focus) {
      background-color: var(--neutral-100);
      color:var(--neutral-900);
    }
  }
}
