---
import HeaderInfo from '@components/design/HeaderInfo.astro';
import Layout from '@layouts/Layout.astro';
import Hero from '@components/design/Hero.astro';
import Patner from '@components/design/Patner.astro';
import About from '@components/design/About.astro';
import Services from '@components/design/Services.astro';
import Articles from '@components/design/Articles.astro';
import Footer from '@components/design/Footer.astro';
---

<Layout>
	<header>
		<HeaderInfo/>
	</header>
	<main>
		<Hero/>
		<Patner/>
		<About/>
		<Services/>
		<Articles/>
	</main>
	<Footer/>
</Layout>
